<h2>{{title}}</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor urna eu augue ultrices, blandit convallis ex feugiat. Quisque sed lectus ut velit convallis pharetra vestibulum sit amet orci. Cras ullamcorper a eros vitae tincidunt. Mauris non
    ultricies orci. Ut a venenatis lectus. Cras convallis leo a justo cursus, eu blandit tellus imperdiet. Ut pharetra ante non magna hendrerit, sit amet laoreet augue tempor.
</p>
<p>
    Sed at ex iaculis, scelerisque augue vel, lobortis tellus. Vivamus eros neque, consectetur condimentum sem in, vulputate suscipit nisi. Praesent eget massa erat. Quisque ligula diam, finibus in cursus eget, tempor condimentum augue. Vestibulum elementum
    lobortis ex, ut finibus risus venenatis nec. Praesent erat nisl, faucibus quis volutpat id, consectetur in ante.
</p>
<p>
    Phasellus at molestie nisi, quis eleifend mauris.
</p>
<p>
    Etiam blandit egestas odio rutrum porta. Curabitur viverra ex ac tempus accumsan. Cras varius ut tortor ut laoreet. Integer ac arcu a sapien fringilla feugiat. Aenean rhoncus lectus elit, vel sagittis turpis pretium in. Pellentesque iaculis nulla justo,
    at egestas sem cursus et. Maecenas et ullamcorper metus, nec ultricies mi. Donec in ex risus.
</p>
<p>
    Pellentesque condimentum diam elit, ut cursus mauris facilisis quis. Quisque a nulla quis neque scelerisque molestie accumsan eget lectus. Donec suscipit tellus vitae erat sollicitudin, commodo rutrum sem pulvinar. Nulla ac volutpat nisi. Maecenas imperdiet
    mi facilisis, hendrerit ligula eget, dictum mauris. Aliquam at nisi nec nunc volutpat gravida. Praesent id risus nec neque tempus facilisis. Pellentesque porta dignissim blandit. In pretium sagittis feugiat. Phasellus in auctor ligula.
</p>
<button (click)="myInset()">Click Inset</button>