<h1>
    {{title}}
</h1>
<div>
    environment={{environment | json}}
</div>
<nav>
    <a routerLink="/" routerLinkActive="active">/</a>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/inset" routerLinkActive="active">Inset</a>
    <a routerLink="/blah" routerLinkActive="active">Blah</a>
    <a routerLink="/complex-layouts" routerLinkActive="active">Complex layouts</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    <a routerLink="/members" routerLinkActive="active">Members</a>
    <a routerLink="/member/1" routerLinkActive="active">Member/1</a>
    <a routerLink="/404" routerLinkActive="active">404</a>
    <a routerLink="/pageNotFound" routerLinkActive="active">pageNotFound</a>
</nav>
<!--
    <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    <a routerLink="/members" routerLinkActive="active">Members</a>
    <a routerLink="/member" routerLinkActive="active">Member</a>
    <a routerLink="/inset" routerLinkActive="active">Inset</a>
    <a routerLink="/blah" routerLinkActive="active">Blah</a>
    <a routerLink="/" routerLinkActive="active">/</a>
    <a routerLink="/404" routerLinkActive="active">404</a>
    <a routerLink="/pageNotFound" routerLinkActive="active">pageNotFound</a>
</nav>
-->
<router-outlet></router-outlet>