<h1>
    {{title}}
</h1>


<h2>Pipes</h2>
<ul>
    <li>unfiltered = {{ title}}</li>

    <li>lowercase = {{ title | lowercase}}</li>
    <li>uppercase = {{ title | uppercase}}</li>

    <li>pascalcase = {{ title | pascalcase}}</li>
    <li>camelcase = {{ title | camelcase}}</li>
    <li>snakecase = {{ title | snakecase}}</li>
    <li>kebabcase = {{ title | kebabcase}}</li>
    <li>studlycase = {{ title | studlycase}}</li>
    <li>studlycase random = {{ title | studlycase: "random"}}</li>
</ul>

<h2>Directives</h2>
<h3>Attribute Directives</h3>
<ul>
    <li redline>redline</li>
    <li highline>highline (mouseover)</li>
    <li>confirm-model
        <button type="button" (click)="visitAngularIo()" confirm-modal>Visit angular.io</button>
    </li>
</ul>
<h3>Structural Directives</h3>
<ul>
    <li>repeat 5
        <ul>
            <li *repeatN="5">repeat 5</li>
        </ul>
    </li>
    <li>repeat 3
        <ul>
            <li *repeatN="3">repeat 3</li>
        </ul>
    </li>
    <li>repeat dog
        <ul>
            <li *repeatN="dog">repeat dog</li>
        </ul>
    </li>
</ul>




<h3>Other</h3>
<div>
    Users count={{users.length}}
</div>
<div *ngIf="users.length>0">
    Many users.
</div>
<pre>{{users |json }}</pre>
<ul>
    <li>ngfor
        <ul>
            <li *ngFor="let user of users">
                {{user.name}} #{{user.id}}
            </li>
        </ul>
    </li>
    <li>forAnyOrder
        <ul>
            <li *forAnyOrder="let user of users">
                {{user.name}} #{{user.id}}
            </li>
        </ul>
    </li>
</ul>

<!--blah [count]="initialCount"blah-->